.nps-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100px;
  animation: grow 1.5s forwards;
  transform-origin: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.nps-img:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.nps-img:active {
  filter: brightness(100%);
}

.nps-img > img {
  object-fit: cover;
  padding-right: 50px;
  transform: scale(150%);
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.nps-ripple-circle {
}
