.widescreen {
  position: absolute;
  height: 20px;
  width: 100vw;
  background: black;
  animation: widescreen 3s forwards;
}

.widescreen.top {
  top: calc(0% + 0px);
}

.widescreen.bottom {
  bottom: calc(0% + 5px);
}

.hey {
  animation: fadeIn 10s forwards, grow 30s forwards;
}

@keyframes widescreen {
  from {
    opacity: 0;
    height: 20px;
  }
  to {
    opacity: 1;
    height: 100px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(150%);
  }
}
