<div
  class="projectBox"
  style="
    width: 400px;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
    border: 2px solid #00aaaa;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #00aaaa;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
  "
>
  <img
    src="../../../assets/backgrounds/skillsExperience.png"
    style="
      object-fit: contain;
      position: absolute;
      width: 1000px;
      margin-left: -300px;
    "
  />
  <div
    style="flex: 1; display: flex; justify-content: center; align-items: center"
  >
    <h1 class="title">My Project</h1>
  </div>
</div>
